<script type="text/x-handlebars" data-template-name="applicationMenu">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        {{view App.ApplicationMenuItemView stateName="egbil" displayName="EGBiL" action="showEgbilPage"}}
        {{view App.ApplicationMenuItemView stateName="zmiany" displayName="Zmiany" action="showChangesPage"}}
        {{view App.ApplicationMenuItemView stateName="wydruki" displayName="Wydruki" action="showPrintsPage"}}
      </ul>
    </div>
  </div>
</div>
</script>