<script type="text/x-handlebars" data-template-name="changesSearch">
<div id="changes-search" class="well">

  {{view App.FilterTypesView filterType="subject"}}

  <div class="tab-content">

    <form id="filter-subject" class="tab-pane active form-horizontal">
      {{view App.FilterSystematicView field=content.systematics attrIndex=0}}
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView field=content.change.year}}
          {{view App.FilterEntryFieldView field=content.change.number}}
          {{view App.FilterEntryFieldView field=content.change.applicationYear}}
          {{view App.FilterEntryFieldView field=content.change.applicationNumber}}
          {{view App.FilterEntryFieldView field=content.change.kind}}
          {{view App.FilterEntryFieldView field=content.change.stockKerg}}
          {{view App.FilterEntryFieldView field=content.change.status}}
          {{view App.FilterEntryFieldView field=content.change.description}}
        </fieldset>
        <fieldset class="span column">
          <legend>Dokument</legend>
          {{view App.FilterEntryFieldView field=content.document.type}}
          {{view App.FilterEntryFieldView field=content.document.signature}}
          {{view App.FilterEntryFieldView field=content.document.source}}
          {{view App.FilterEntryFieldView field=content.document.creationFromDate}}
          {{view App.FilterEntryFieldView field=content.document.creationToDate}}
          {{view App.FilterEntryFieldView field=content.document.receiptFromDate}}
          {{view App.FilterEntryFieldView field=content.document.receiptToDate}}
          {{view App.FilterEntryFieldView field=content.document.description}}
        </fieldset>
        <fieldset class="span column">
          <legend>Działki</legend>
          {{view App.FilterSystematicView field=content.lot.systematics}}
          {{view App.FilterEntryFieldView field=content.lot.number}}
        </fieldset>
      </div>
    </form>

  </div>

  <div class="form-actions">
    <label class="historicalEntries">{{view Ember.Checkbox}}<span>Uwzględnij wpisy historyczne</span></label>
    <button class="btn" type="button"><i class="icon-remove-sign"></i> Wyczyść</button>
    <button class="btn btn-primary" type="button" {{action doSearch}}><i class="icon-ok-sign"></i> Wybierz</button>
  </div>

</div>
</script>
