<script type="text/x-handlebars" data-template-name="changes">
<ul class="nav nav-pills">
  {{view App.TabItemView stateName="map" displayName="Pokaż mapę"}}
  {{view App.TabItemView stateName="search" displayName="Wybór obiektów"}}
  {{#if App.router.changesListController.content}}
  {{view App.TabItemView stateName="list" displayName="Lista obiektów"}}
  {{/if}}
  {{#each controller.objectList}}
  {{view App.ObjectTabItemView objectBinding="this"}}
  {{/each}}
</ul>
{{outlet content}}
</script>
