<script type="text/x-handlebars" data-template-name="egbilSearchJrb">
  <div class="row">
    <div class="btn-group span6">
      {{view App.IconButtonView type="subject" class="active"}}
      {{view App.IconButtonView type="individual"}}
      {{view App.IconButtonView type="institution"}}
      {{view App.IconButtonView type="advanced"}}
    </div>
  </div>





  <div class="row">
    <fieldset class="span5">
      <legend>Parametry</legend>
      {{#with content}}
        {{view App.FilterTextFieldView element=jrbNumber}}
        {{view App.FilterTextFieldView element=buildingNumber}}
      {{/with}}
    </fieldset>
  </div>
  <button class="btn btn-primary" type="button" {{action "fetch" target="controller"}}><i class="icon-ok-sign"></i> Wybierz</button>
</script>
