<script type="text/x-handlebars" data-template-name="egbilSearchBuilding">
<div class="tab-pane">

  {{view App.FilterTypesView}}

  <div class="tab-content">

    <form id="filter-subject" class="tab-pane active form-horizontal">
      {{view App.FilterSystematicView field=content.systematics attrIndex=0}}
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView field=content.lot.number}}
          {{view App.FilterEntryFieldView field=content.building.number}}
          {{view App.FilterEntryFieldView field=content.building.area}}
          {{view App.FilterEntryFieldView field=content.local.area}}
          {{view App.FilterEntryFieldView field=content.building.type}}
          {{view App.FilterEntryFieldView field=content.building.highestLevel}}
          {{view App.FilterEntryFieldView field=content.building.lowestLevel}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres budynku</legend>
          {{view App.FilterEntryFieldView field=content.address.town}}
          {{view App.FilterEntryFieldView field=content.address.street}}
          {{view App.FilterEntryFieldView field=content.address.houseNumber}}
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="span column">
          <legend>Sygnatura dokumentu</legend>
          {{view App.FilterEntryFieldView field=content.signature.building}}
        </fieldset>
      </div>
    </form>

    <form id="filter-individual" class="tab-pane form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView field=content.person.sex}}
          {{view App.FilterEntryFieldView field=content.person.lastName}}
          {{view App.FilterEntryFieldView field=content.person.firstName}}
          {{view App.FilterEntryFieldView field=content.person.pesel}}
          {{view App.FilterEntryFieldView field=content.person.document}}
          {{view App.FilterEntryFieldView field=content.person.status}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres zamieszkania</legend>
          {{view App.FilterEntryFieldView field=content.address.postalCode}}
          {{view App.FilterEntryFieldView field=content.address.town}}
          {{view App.FilterEntryFieldView field=content.address.street}}
          {{view App.FilterEntryFieldView field=content.address.houseNumber}}
          {{view App.FilterEntryFieldView field=content.address.flatNumber}}
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="span column">
          <legend>Dane udziałowe</legend>
          {{view App.FilterEntryFieldView field=content.share.character}}
          {{view App.FilterEntryFieldView field=content.share.registerGroup}}
          {{view App.FilterEntryFieldView field=content.share.value}}
        </fieldset>
      </div>
    </form>

    <form id="filter-institution" class="tab-pane form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView field=content.institution.shortName}}
          {{view App.FilterEntryFieldView field=content.institution.fullName}}
          {{view App.FilterEntryFieldView field=content.institution.status}}
          {{view App.FilterEntryFieldView field=content.institution.regon}}
          {{view App.FilterEntryFieldView field=content.institution.nip}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres zamieszkania</legend>
          {{view App.FilterEntryFieldView field=content.address.postalCode}}
          {{view App.FilterEntryFieldView field=content.address.town}}
          {{view App.FilterEntryFieldView field=content.address.street}}
          {{view App.FilterEntryFieldView field=content.address.houseNumber}}
          {{view App.FilterEntryFieldView field=content.address.flatNumber}}
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="span column">
          <legend>Dane udziałowe</legend>
          {{view App.FilterEntryFieldView field=content.share.character}}
          {{view App.FilterEntryFieldView field=content.share.registerGroup}}
          {{view App.FilterEntryFieldView field=content.share.value}}
        </fieldset>
      </div>
    </form>

  </div>

  <div class="form-actions">
    <label class="historicalEntries">{{view Ember.Checkbox}} Uwzględnij wpisy historyczne</label>
    <button class="btn" type="button"><i class="icon-remove-sign"></i> Wyczyść</button>
    <button class="btn btn-primary" type="button" {{action doSearch}}><i class="icon-ok-sign"></i> Wybierz</button>
  </div>

</div>
</script>
