<script type="text/x-handlebars" data-template-name="egbilSearchJrgib">
  <div class="btn-group">
    {{view App.StateButtonItemView icon="icon-paper-clip" class="btn"}}
    {{view App.StateButtonItemView icon="icon-user" class="btn"}}
    {{view App.StateButtonItemView icon="icon-group" class="btn"}}
    {{view App.StateButtonItemView icon="icon-legal" class="btn"}}
    {{view App.StateButtonItemView icon="icon-tasks" class="btn"}}
  </div>

  <div class="">
    <form action="">

      <button>Systematyka</button>
      <input type="text" />
      <a href="#" class="btn"><i class="icon-upload"></i></a>

      {{view App.LabeledClearableInputView inputId="a" label="Numer JRG"}}
      {{view App.LabeledClearableInputView inputId="b" label="Numer JRB"}}
      {{view App.LabeledClearableInputView inputId="c" label="Numer dzuałki"}}
      {{view App.LabeledClearableInputView inputId="d" label="Numer budynku"}}

      <fieldset>
        <legend>Adres działki</legend>
        {{view App.LabeledClearableInputView inputId="e" label="Miejscowość"}}
        {{view App.LabeledClearableInputView inputId="f" label="Ulica"}}
        {{view App.LabeledClearableInputView inputId="g" label="Numer porządkowy"}}
      </fieldset>


      <fieldset>
        <legend>Sygnatura dokumentu</legend>
        {{view App.LabeledClearableInputView inputId="h" label="Dokument działki"}}
        {{view App.LabeledClearableInputView inputId="i" label="Dokument budynku"}}
        {{view App.LabeledClearableInputView inputId="j" label="Dokument lokalu"}}
      </fieldset>

      {{view App.LabeledClearableInputView inputId="k" label="Uwzględnij wpisy historyczne" inputType="checkbox" clearable=false}}
      <button>Wyczyść</button>
      <button>Wybierz</button>

    </form>

  </div>
</script>
