<script type="text/x-handlebars" data-template-name="egbilSearchDocument">
  {{view App.FilterTypesView filterType="subject"}}
  <div class="tab-content">

    <form id="filter-individual" class="tab-pane active">
      <div class="row">
        <fieldset class="span5">
          <legend>&nbsp;</legend>
          {{view App.FilterEntryFieldView field=content.document.type}}
          {{view App.FilterEntryFieldView field=content.document.signature}}
          {{view App.FilterEntryFieldView field=content.document.source}}
          {{view App.FilterEntryFieldView field=content.document.creationFromDate}}
          {{view App.FilterEntryFieldView field=content.document.creationToDate}}
          {{view App.FilterEntryFieldView field=content.document.receiptFromDate}}
          {{view App.FilterEntryFieldView field=content.document.receiptToDate}}
          {{view App.FilterEntryFieldView field=content.document.designation}}
          {{view App.FilterEntryFieldView field=content.document.description}}
        </fieldset>
        <fieldset class="span5">
          <legend>Powiązania</legend>
          {{view App.FilterEntryFieldView field=content.relations.scan}}
          {{view App.FilterEntryFieldView field=content.relations.lots}}
          {{view App.FilterEntryFieldView field=content.relations.buildings}}
          {{view App.FilterEntryFieldView field=content.relations.locals}}
          {{view App.FilterEntryFieldView field=content.relations.changes}}
        </fieldset>
      </div>

      <div class="row form-actions">
        <label class="historicalEntries span3">{{view Ember.Checkbox}} Uwzględnij wpisy historyczne</label>
        <button class="btn" type="button"><i class="icon-remove-sign"></i> Wyczyść</button>
        <button class="btn btn-primary" type="button" {{action doSearch}}><i class="icon-ok-sign"></i> Wybierz</button>
      </div>
    </form>

    <form id="filter-advanced" class="tab-pane">
      Filtry zaawansowane w ramach poszukiwania dokumentu
    </form>

  </div>
</script>
