<script type="text/x-handlebars" data-template-name="egbilSearchPerson">
<div class="tab-pane">

  {{view App.FilterTypesView filterType="individual"}}

  <div class="tab-content">

    <form id="filter-individual" class="tab-pane active form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView field=content.person.sex attrIndex=0}}
          {{view App.FilterEntryFieldView field=content.person.lastName}}
          {{view App.FilterEntryFieldView field=content.person.firstName}}
          {{view App.FilterEntryFieldView field=content.person.middleName}}
          {{view App.FilterEntryFieldView field=content.person.fatherName}}
          {{view App.FilterEntryFieldView field=content.person.motherName}}
          {{view App.FilterEntryFieldView field=content.person.pesel}}
          {{view App.FilterEntryFieldView field=content.person.document}}
          {{view App.FilterEntryFieldView field=content.person.status}}
          {{view App.FilterEntryFieldView field=content.person.nationality}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres zamieszkania</legend>
          {{view App.FilterEntryFieldView field=content.address.postalCode}}
          {{view App.FilterEntryFieldView field=content.address.town}}
          {{view App.FilterEntryFieldView field=content.address.street}}
          {{view App.FilterEntryFieldView field=content.address.houseNumber}}
          {{view App.FilterEntryFieldView field=content.address.flatNumber}}
        </fieldset>
      </div>
    </form>

  </div>

</div>
</script>
