<script type="text/x-handlebars" data-template-name="egbilObjectDocument">
  <div class="span4">
  {{view App.ModelValueTableView contentBinding="controller.content" columnsBinding="controller.documentColumns"}}
  </div>
  <div class="accordion offset4">
    {{#view classNames="accordion-group"}}
      {{view App.AccordionHeaderView label="Działki"}}
      {{view App.AccordionBodyView contentBinding="controller.content.lots" columnsBinding="controller.lotColumns"}}
    {{/view}}
    {{#view classNames="accordion-group"}}
      {{view App.AccordionHeaderView label="Budynki"}}
      {{view App.AccordionBodyView contentBinding="controller.content.buildings" columnsBinding="controller.buildingColumns"}}
    {{/view}}
    {{#view classNames="accordion-group"}}
      {{view App.AccordionHeaderView label="Lokale"}}
      {{view App.AccordionBodyView contentBinding="controller.content.locals" columnsBinding="controller.localColumns"}}
    {{/view}}
    {{#view classNames="accordion-group"}}
      {{view App.AccordionHeaderView label="Zmiany"}}
      {{view App.AccordionBodyView contentBinding="controller.content.changes" columnsBinding="controller.changeColumns"}}
    {{/view}}
  </div>
</script>
