<script type="text/x-handlebars" data-template-name="egbilSearchLandCommunity">
<div class="tab-pane">

  {{view App.FilterTypesView filterType="landCommunity"}}

  <div class="tab-content">

    <form id="filter-individual" class="tab-pane active form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView field=content.landCommunity.name attrIndex=0}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres</legend>
          {{view App.FilterEntryFieldView field=content.address.postalCode}}
          {{view App.FilterEntryFieldView field=content.address.town}}
          {{view App.FilterEntryFieldView field=content.address.street}}
          {{view App.FilterEntryFieldView field=content.address.houseNumber}}
          {{view App.FilterEntryFieldView field=content.address.flatNumber}}
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="span column">
          <legend>Wspólnota gruntowa</legend>
          {{view App.FilterEntryFieldView field=content.institution.shortName}}
          {{view App.FilterEntryFieldView field=content.institution.fullName}}
          {{view App.FilterEntryFieldView field=content.institution.regon}}
          {{view App.FilterEntryFieldView field=content.institution.nip}}
        </fieldset>
      </div>
    </form>

  </div>

  <div class="form-actions">
    <label class="historicalEntries">{{view Ember.Checkbox}} Uwzględnij wpisy historyczne</label>
    <button class="btn" type="button"><i class="icon-remove-sign"></i> Wyczyść</button>
    <button class="btn btn-primary" type="button" {{action doSearch}}><i class="icon-ok-sign"></i> Wybierz</button>
  </div>

</div>
</script>
