<script type="text/x-handlebars" data-template-name="egbilSearchLots">
  {{view App.FilterTypesView}}
  <div class="tab-content">

    <form id="filter-subject" class="tab-pane active">
      {{view App.FilterSystematicsView}}

      <div class="row">
        <fieldset class="span5">
          <legend>&nbsp;</legend>
          {{view App.FilterEntryFieldView element=content.registerUnit.jrg}}
          {{view App.FilterEntryFieldView element=content.lot.number}}
          {{view App.FilterEntryFieldView element=content.lot.area}}
        </fieldset>
        <fieldset class="span5">
          <legend>Adres działki</legend>
          {{view App.FilterEntryFieldView element=content.address.town}}
          {{view App.FilterEntryFieldView element=content.address.street}}
          {{view App.FilterEntryFieldView element=content.address.houseNumber}}
        </fieldset>
      </div>

      <div class="row">
        <fieldset class="span5">
          <legend>Sygnatura dokumentu</legend>
          {{view App.FilterEntryFieldView element=content.signature.lot}}
        </fieldset>
        <fieldset class="span5">
          <legend>Klasoużytki</legend>
          {{view App.FilterEntryFieldView element=content.terrainCategory.identifier}}
          {{view App.FilterEntryFieldView element=content.terrainCategory.area}}
        </fieldset>
      </div>

      <div class="row form-actions">
        <label class="historicalEntries span3">{{view Ember.Checkbox}} Uwzględnij wpisy historyczne</label>
        <button class="btn" type="button"><i class="icon-remove-sign"></i> Wyczyść</button>
        <button class="btn btn-primary" type="button" {{action "fetch" target="controller"}}><i class="icon-ok-sign"></i> Wybierz</button>
      </div>
    </form>

    <form id="filter-individual" class="tab-pane">
      Filtry dla osoby w ramach poszukiwania działek
    </form>

  </div>
</script>
