<script type="text/x-handlebars" data-template-name="egbilSearchDocument">
<div class="tab-pane">

  {{view App.FilterTypesView filterType="subject"}}

  <div class="tab-content">

    <form id="filter-individual" class="tab-pane active form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView field=content.document.type attrIndex=0}}
          {{view App.FilterEntryFieldView field=content.document.signature}}
          {{view App.FilterEntryFieldView field=content.document.source}}
          {{view App.FilterEntryFieldView field=content.document.creationFromDate}}
          {{view App.FilterEntryFieldView field=content.document.creationToDate}}
          {{view App.FilterEntryFieldView field=content.document.receiptFromDate}}
          {{view App.FilterEntryFieldView field=content.document.receiptToDate}}
          {{view App.FilterEntryFieldView field=content.document.designation}}
          {{view App.FilterEntryFieldView field=content.document.description}}
        </fieldset>
        <fieldset class="span column">
          <legend>Powiązania</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.relations.scan"}}
          {{view App.FilterEntryFieldView fieldBinding="content.relations.lots"}}
          {{view App.FilterEntryFieldView fieldBinding="content.relations.buildings"}}
          {{view App.FilterEntryFieldView fieldBinding="content.relations.locals"}}
          {{view App.FilterEntryFieldView fieldBinding="content.relations.changes"}}
        </fieldset>
      </div>
    </form>

  </div>
</script>
