<script type="text/x-handlebars" data-template-name="egbilSearch/landCommunity">
<div class="tab-pane">

  {{view App.FilterTypesView filterType="landCommunity"}}

  <div class="tab-content">

    <form id="filter-individual" class="tab-pane active form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.landCommunity.name" attrIndex=0}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.address.postalCode"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.town"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.street"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.houseNumber"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.flatNumber"}}
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="span column">
          <legend>Wspólnota gruntowa</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.institution.shortName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.fullName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.regon"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.nip"}}
        </fieldset>
      </div>
    </form>

  </div>

</div>
</script>
