<script type="text/x-handlebars" data-template-name="egbilSearchInstitutionOrGroup">
<div class="tab-pane">

  {{view App.FilterTypesView filterType="institution"}}

  <div class="tab-content">

    <form id="filter-individual" class="tab-pane active form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.institution.shortName" attrIndex=0}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.fullName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.status"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.regon"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.nip"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.registerName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.registerNumber"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.registerCourt"}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.address.postalCode"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.town"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.street"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.houseNumber"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.flatNumber"}}
        </fieldset>
      </div>
    </form>

  </div>

</div>
</script>
