<script type="text/x-handlebars" data-template-name="egbilSearch/person">
<div class="tab-pane active">

  {{view App.FilterTypesView filterType="individual"}}

  <div class="tab-content">

    <form id="filter-individual" class="tab-pane active form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.person.sex" attrIndex=0}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.lastName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.firstName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.middleName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.fatherName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.motherName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.pesel"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.document"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.status"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.nationality"}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres zamieszkania</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.address.postalCode"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.town"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.street"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.houseNumber"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.flatNumber"}}
        </fieldset>
      </div>
    </form>

  </div>

</div>
</script>
