<script type="text/x-handlebars" data-template-name="egbilSearchDocument">
<div class="tab-pane">

  {{view App.FilterTypesView filterType="subject"}}

  <div class="tab-content">

    <form id="filter-individual" class="tab-pane active form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.document.type" attrIndex=0}}
          {{view App.FilterEntryFieldView fieldBinding="content.document.signature"}}
          {{view App.FilterEntryFieldView fieldBinding="content.document.source"}}
          {{view App.FilterEntryFieldView fieldBinding="content.document.creationFromDate"}}
          {{view App.FilterEntryFieldView fieldBinding="content.document.creationToDate"}}
          {{view App.FilterEntryFieldView fieldBinding="content.document.receiptFromDate"}}
          {{view App.FilterEntryFieldView fieldBinding="content.document.receiptToDate"}}
          {{view App.FilterEntryFieldView fieldBinding="content.document.designation"}}
          {{view App.FilterEntryFieldView fieldBinding="content.document.description"}}
        </fieldset>
        <fieldset class="span column">
          <legend>Powiązania</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.relations.scan"}}
          {{view App.FilterEntryFieldView fieldBinding="content.relations.lots"}}
          {{view App.FilterEntryFieldView fieldBinding="content.relations.buildings"}}
          {{view App.FilterEntryFieldView fieldBinding="content.relations.locals"}}
          {{view App.FilterEntryFieldView fieldBinding="content.relations.changes"}}
        </fieldset>
      </div>
    </form>

  </div>
</script>
