<script type="text/x-handlebars" data-template-name="egbilObjectLot">
  <div>
    {{view App.ModelValueTableView contentBinding="controller.content" columnsBinding="controller.lotLeftColumns"}}
  </div>
  <div>
    {{view App.ModelValueTableView contentBinding="controller.content" columnsBinding="controller.lotMiddleColumns"}}
    Adresy
    {{view App.ModelTableView contentBinding="controller.content.addresses" columnsBinding="controller.addressColumns" header=false}}
    Dokumenty
    {{view App.ModelTableView contentBinding="controller.content.documents" columnsBinding="controller.documentColumns"}}
  </div>
  <div>
    Klasoużytki
    {{view App.ModelTableView contentBinding="controller.content.terrainCategories" columnsBinding="controller.terrainCategoryColumns"}}
    Budynki
    {{view App.ModelTableView contentBinding="controller.content.buildings" columnsBinding="controller.buildingColumns"}}
  </div>
  <div class="accordion">
    {{#view classNames="accordion-group"}}
    {{view App.AccordionHeaderView label="Udziały"}}
    {{view App.AccordionBodyView contentBinding="controller.content.shares" columnsBinding="controller.shareColumns"}}
    {{/view}}
  </div>
</script>
