<script type="text/x-handlebars" data-template-name="egbilSearchJrgib">
  {{view App.FilterTypesView}}
  <div class="tab-content">

    <form id="filter-subject" class="tab-pane active">
      {{view App.FilterSystematicsView}}
      <div class="row">
        <fieldset class="span5">
          <legend>&nbsp;</legend>
          {{view App.FilterTextFieldView element=content.registerUnit.jrg}}
          {{view App.FilterTextFieldView element=content.registerUnit.jrb}}
          {{view App.FilterTextFieldView element=content.lot.number}}
          {{view App.FilterTextFieldView element=content.building.number}}
        </fieldset>
        <fieldset class="span5">
          <legend>Adres działki</legend>
          {{view App.FilterTextFieldView element=content.address.town}}
          {{view App.FilterTextFieldView element=content.address.street}}
          {{view App.FilterTextFieldView element=content.address.houseNumber}}
        </fieldset>
      </div>

      <div class="row">
        <fieldset class="span5">
          <legend>Sygnatura dokumentu</legend>
          {{view App.FilterTextFieldView element=content.signature.lot}}
          {{view App.FilterTextFieldView element=content.signature.building}}
          {{view App.FilterTextFieldView element=content.signature.local}}
        </fieldset>
      </div>
    </form>

    <form id="filter-individual" class="tab-pane">
      <div class="row">
        <fieldset class="span5">
          <legend>&nbsp;</legend>
          {{view App.FilterTextFieldView element=content.person.sex}}
          {{view App.FilterTextFieldView element=content.person.lastName}}
          {{view App.FilterTextFieldView element=content.person.firstName}}
          {{view App.FilterTextFieldView element=content.person.pesel}}
          {{view App.FilterTextFieldView element=content.person.document}}
          {{view App.FilterTextFieldView element=content.person.status}}
        </fieldset>
        <fieldset class="span5">
          <legend>Adres zamieszkania</legend>
          {{view App.FilterTextFieldView element=content.address.postalCode}}
          {{view App.FilterTextFieldView element=content.address.town}}
          {{view App.FilterTextFieldView element=content.address.street}}
          {{view App.FilterTextFieldView element=content.address.houseNumber}}
          {{view App.FilterTextFieldView element=content.address.flatNumber}}
        </fieldset>
      </div>

      <div class="row">
        <fieldset class="span5">
          <legend>Dane udziałowe</legend>
          {{view App.FilterTextFieldView element=content.share.character}}
          {{view App.FilterTextFieldView element=content.share.registerGroup}}
          {{view App.FilterTextFieldView element=content.share.value}}
        </fieldset>
      </div>
    </form>

    <div class="row form-actions">
      <label class="historicalEntries span3">{{view Ember.Checkbox}} Uwzględnij wpisy historyczne</label>
      <button class="btn" type="button"><i class="icon-ban-circle"></i> Wyczyść</button>
      <button class="btn btn-primary" type="button"><i class="icon-ok-sign"></i> Wybierz</button>
    </div>
  </div>
</script>
