<script type="text/x-handlebars" data-template-name="egbilSearch">
  <ul class="span4 nav nav-tabs nav-stacked">
  {{view App.StateTabItemView stateName="jrgib" displayName="Jednostki Rejestrowe Gruntów i Budynków"}}
  {{view App.StateTabItemView stateName="jrb" displayName="Jednostki Rejestrowe Budynków"}}
  {{view App.StateTabItemView stateName="jrl" displayName="Jednostki Rejestrowe Lokali"}}
  {{view App.StateTabItemView stateName="jrg" displayName="Stare Jednostki Rejestrowe Gruntów"}}
  {{view App.StateTabItemView stateName="lots" displayName="Działki"}}
  {{view App.StateTabItemView stateName="buildings" displayName="Budynki"}}
  {{view App.StateTabItemView stateName="locals" displayName="Lokale"}}
  {{view App.StateTabItemView stateName="individuals" displayName="Osoby fizyczne"}}
  {{view App.StateTabItemView stateName="institutions" displayName="Instytucje"}}
  {{view App.StateTabItemView stateName="communityLands" displayName="Zarządy wspólnot gruntowych"}}
  {{view App.StateTabItemView stateName="documents" displayName="Dokumenty"}}
  </ul>
  <div class="span11">{{outlet egbilSearch}}</div>
</script>
