<script type="text/x-handlebars" data-template-name="egbil">
<ul class="nav nav-pills">
  {{view App.TabItemView routeName="egbil.map" displayName="Pokaż mapę"}}
  {{view App.TabItemView routeName="search" displayName="Wybór obiektów"}}
    {{#if controllers.egbilList.content}}
    {{view App.TabItemView routeName="egbil.list" displayName="Lista obiektów"}}
  {{/if}}
  {{#each controller.objectList}}
    {{view App.ObjectTabItemView objectBinding="this"}}
  {{/each}}
</ul>
{{outlet content}}
</script>