<script type="text/x-handlebars" data-template-name="egbilSearch">
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    {{view App.TabItemView routeName="egbilSearch.jrg" displayName="Jednostki Rejestrowe Gruntów i Budynków"}}
    {{view App.TabItemView routeName="egbilSearch.jrb" displayName="Jednostki Rejestrowe Budynków"}}
    {{view App.TabItemView routeName="egbilSearch.jrl" displayName="Jednostki Rejestrowe Lokali"}}
    {{view App.TabItemView routeName="egbilSearch.oldJrg" displayName="Stare Jednostki Rejestrowe Gruntów"}}
    {{view App.TabItemView routeName="egbilSearch.lot" displayName="Działki"}}
    {{view App.TabItemView routeName="egbilSearch.building" displayName="Budynki"}}
    {{view App.TabItemView routeName="egbilSearch.local" displayName="Lokale"}}
    {{view App.TabItemView routeName="egbilSearch.person" displayName="Osoby fizyczne"}}
    {{view App.TabItemView routeName="egbilSearch.institution" displayName="Instytucje"}}
    {{view App.TabItemView routeName="egbilSearch.group" displayName="Podmioty grupowe"}}
    {{view App.TabItemView routeName="egbilSearch.landCommunity" displayName="Zarządy wspólnot gruntowych"}}
    {{view App.TabItemView routeName="egbilSearch.document" displayName="Dokumenty"}}
  </ul>
    <div id="egbil-search" class="tab-content well">
        {{outlet}}
        <div class="form-actions">
            <label class="historicalEntries">{{view Ember.Checkbox}} <span>Uwzględnij wpisy historyczne</span></label>
            <button class="btn" type="button"><i class="icon-remove-sign"></i> Wyczyść</button>
            <button class="btn btn-primary" type="button" {{action doSearch}}><i class="icon-ok-sign"></i> Wybierz</button>
        </div>
    </div>
</div>
</script>
