<script type="text/x-handlebars" data-template-name="egbil">
  <div class="tabbable">
    <ul class="nav nav-pills">
      {{view App.TabItemView stateName="map" displayName="Pokaż mapę"}}
      {{view App.TabItemView stateName="search" displayName="Wybór obiektów"}}
      {{#if App.router.egbilListController.content}}
        {{view App.TabItemView stateName="list" displayName="Lista obiektów"}}
      {{/if}}
      {{#each controller.objectList}}
        {{view App.ObjectTabItemView objectBinding="this"}}
      {{/each}}
    </ul>
  </div>
  <div class="ui-layout-content">
    {{outlet egbil}}
  </div>
</script>