<script type="text/x-handlebars" data-template-name="egbilSearch/building">
<div class="tab-pane">

  {{view App.FilterTypesView}}

  <div class="tab-content">

    <form id="filter-subject" class="tab-pane active form-horizontal">
      {{view App.FilterSystematicView fieldBinding="content.systematics" cacheBinding="controllers.gammaCache" attrIndex=0}}
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.lot.number"}}
          {{view App.FilterEntryFieldView fieldBinding="content.building.number"}}
          {{view App.FilterEntryFieldView fieldBinding="content.building.area"}}
          {{view App.FilterEntryFieldView fieldBinding="content.local.area"}}
          {{view App.FilterEntryFieldView fieldBinding="content.building.type"}}
          {{view App.FilterEntryFieldView fieldBinding="content.building.highestLevel"}}
          {{view App.FilterEntryFieldView fieldBinding="content.building.lowestLevel"}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres budynku</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.address.town"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.street"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.houseNumber"}}
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="span column">
          <legend>Sygnatura dokumentu</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.signature.building"}}
        </fieldset>
      </div>
    </form>

    <form id="filter-individual" class="tab-pane form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.person.sex"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.lastName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.firstName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.pesel"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.document"}}
          {{view App.FilterEntryFieldView fieldBinding="content.person.status"}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres zamieszkania</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.address.postalCode"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.town"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.street"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.houseNumber"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.flatNumber"}}
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="span column">
          <legend>Dane udziałowe</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.share.character"}}
          {{view App.FilterEntryFieldView fieldBinding="content.share.registerGroup"}}
          {{view App.FilterEntryFieldView fieldBinding="content.share.value"}}
        </fieldset>
      </div>
    </form>

    <form id="filter-institution" class="tab-pane form-horizontal">
      <div class="row">
        <fieldset class="span column">
          <legend>Ogólne</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.institution.shortName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.fullName"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.status"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.regon"}}
          {{view App.FilterEntryFieldView fieldBinding="content.institution.nip"}}
        </fieldset>
        <fieldset class="span column">
          <legend>Adres zamieszkania</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.address.postalCode"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.town"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.street"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.houseNumber"}}
          {{view App.FilterEntryFieldView fieldBinding="content.address.flatNumber"}}
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="span column">
          <legend>Dane udziałowe</legend>
          {{view App.FilterEntryFieldView fieldBinding="content.share.character"}}
          {{view App.FilterEntryFieldView fieldBinding="content.share.registerGroup"}}
          {{view App.FilterEntryFieldView fieldBinding="content.share.value"}}
        </fieldset>
      </div>
    </form>

  </div>

</div>
</script>
