<script type="text/x-handlebars" data-template-name="egbilSearch">
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
    {{view App.TabItemView stateName="jrg" displayName="Jednostki Rejestrowe Gruntów i Budynków"}}
    {{view App.TabItemView stateName="jrb" displayName="Jednostki Rejestrowe Budynków"}}
    {{view App.TabItemView stateName="jrl" displayName="Jednostki Rejestrowe Lokali"}}
    {{view App.TabItemView stateName="oldJrg" displayName="Stare Jednostki Rejestrowe Gruntów"}}
    {{view App.TabItemView stateName="lot" displayName="Działki"}}
    {{view App.TabItemView stateName="building" displayName="Budynki"}}
    {{view App.TabItemView stateName="local" displayName="Lokale"}}
    {{view App.TabItemView stateName="person" displayName="Osoby fizyczne"}}
    {{view App.TabItemView stateName="institution" displayName="Instytucje"}}
    {{view App.TabItemView stateName="group" displayName="Podmioty grupowe"}}
    {{view App.TabItemView stateName="landCommunity" displayName="Zarządy wspólnot gruntowych"}}
    {{view App.TabItemView stateName="document" displayName="Dokumenty"}}
    </ul>
    <div id="egbil-search" class="tab-content well span10">{{outlet egbilSearch}}</div>
</div>
</script>
