<script type="text/x-handlebars" data-template-name="egbil">
<ul class="nav nav-pills">
  {{view App.TabItemView routeName="egbil.egbilMap" displayName="Pokaż mapę"}}
  {{view App.TabItemView routeName="egbilSearch" displayName="Wybór obiektów"}}
    {{#if controllers.egbilList.content}}
    {{view App.TabItemView routeName="egbil.egbilList" displayName="Lista obiektów"}}
  {{/if}}
  {{#each controller.objectList}}
    {{view App.ObjectTabItemView objectBinding="this"}}
  {{/each}}
</ul>
{{outlet}}
</script>