<script type="text/x-handlebars" data-template-name="changeNotification/taxNotification">
    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#tab-general" data-toggle="tab">Ogólne</a></li>
        {{#if content.onlyChosen}}
        <li><a data-target="#tab-chosen" data-toggle="tab">Wybrane JR</a></li>
        {{/if}}
        <li><a data-target="#tab-frontpage" data-toggle="tab">Strona tytułowa</a></li>
    </ul>
    <div class="tab-content">
*{general}*
        <div id="tab-general" class="tab-pane active">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Numer sprawy</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="content.number"}}
                    </div>
                </div>
            </fieldset>
            <fieldset class="row">
                <div class="span4">
                    {{view App.PrintCheckView valueBinding="content.printChanges" label="Drukuj wykaz zmian w rejestrze"}}
                    <div class="form-indent">
                        {{view App.PrintCheckView valueBinding="content.shareInfo" label="Informacje o udziałach na dokumencie" disabledBinding="printChangesNotChecked"}}
                        <div class="form-indent">
                            {{#view App.PrintRadioGroupView valueBinding="content.shareType" disabledBinding="shareInfoNotChecked"}}
                                {{view App.PrintRadioView value="person" label="udziały osób, których Zmiana dotyczy"}}
                                {{view App.PrintRadioView value="changes" label="udziały dodawane/usuwane/zmieniane"}}
                                <div class="form-indent">
                                    {{view App.PrintCheckView valueBinding="content.onlyShares" label="Tylko udziały SP, Gminy, Powiatu, Woj." disabledBinding="shareTypeChangesNotChecked"}}
                                </div>
                                {{view App.PrintRadioView value="all" label="udziały wszystkich osób w JR"}}
                            {{/view}}
                            {{view App.PrintCheckView valueBinding="content.noPESEL" label="Bez PESEL" disabledBinding="shareInfoNotChecked"}}
                            {{view App.PrintCheckView valueBinding="content.noNIP" label="Bez NIP" disabledBinding="shareInfoNotChecked"}}
                        </div>
                    </div>
                </div>
                <div class="span4">
                    {{view App.PrintCheckView valueBinding="content.onlyChosen" label="Wybrane JR"}}
                    {{view App.PrintCheckView valueBinding="content.frontPage" label="Drukuj stronę tytułową"}}
                </div>
            </fieldset>
        </div>
*{chosen}*
        <div id="tab-chosen" class="tab-pane">
            {{view App.ModelTableView contentBinding="content.chosen" columnsBinding="chosenColumns"}}
        </div>
*{frontPage}*
        <div id="tab-frontpage" class="tab-pane">
            {{render "changeNotificationTabFrontPage" content}}
        </div>
    </div>
</script>
