<script type="text/x-handlebars" data-template-name="changeNotification/taxClassification">
    <div class="span4">
        <span class="clearfix">Zmiana:</span>
        {{!view Em.TextField contentBinding="changeName"}}
        <a class="btn" {{action "chooseChange"}}>{{changeChooserText}}</a>
        <span class="clearfix">Jednostki rejestrowe objęte Zmianą:</span>
        {{view App.ModelTableView contentBinding="registerUnitList" columnsBinding="registerUnitColumns"}}
    </div>
    <div class="span8">
        Parametry dokumentu
        {{outlet}}
        <ul class="nav nav-tabs">
            <li class="active"><a data-target="#tab-general" data-toggle="tab">Ogólne</a></li>
            {{#if isChosenRegisterUnitsChecked}}
            <li><a data-target="#tab-chosen" data-toggle="tab">Wybrane JR</a></li>
            {{/if}}
            <li><a data-target="#tab-frontpage" data-toggle="tab">Strona tytułowa</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-general" class="tab-pane active">
                {{render "changeNotificationTabGeneral" content}}
            </div>
            <div id="tab-chosen" class="tab-pane">
                {{render "changeNotificationTabChosen" content}}
            </div>
            <div id="tab-frontpage" class="tab-pane">
                {{render "changeNotificationTabFrontPage" content}}
            </div>
        </div>
    </div>
</script>
