.ui-layout-pane {
  border: 0;
  margin: 0;
  background:	transparent;
}

.ui-layout-resizer {
  background-color: @bodyColor;
}

.ui-layout-toggler {
    background-color: @buttonDefaultColor;
}

.ui-layout-toggler:hover {
    background-color: @buttonInfoColor;
}

.navbar-inner {
  background: inherit;
  .nav li > a {
    border-left: inherit;
  }
  .nav .active > a, .nav .active > a:hover {
    background-color: inherit;
  }
}

.help-inline {
  width: 35px;
  text-align: right;
}

.form-actions {
  text-align: right;
}

fieldset {
  margin-top: 27px;
}

form.well {
  margin-top: 27px;
}

legend {
  margin-bottom: 0;
}

.form-choice-buttons {
  margin-top: 27px;
}

.tab-content {
  overflow-x: hidden
}