.ui-layout-pane {
  border: 0;
  margin: 0;
  background:	transparent;
}

.ui-layout-resizer {
  background-color: @bodyColor;
}

.ui-layout-toggler {
    background-color: @buttonDefaultColor;
}

.ui-layout-toggler:hover {
    background-color: @buttonInfoColor;
}

.ui-layout-container {
    height: 100%;
}

.navbar-inner {
  background: inherit;
  .nav li > a {
    border-left: inherit;
  }
  .nav .active > a, .nav .active > a:hover {
    background-color: inherit;
  }
}

#egbil-search {
  .filter-types {
    button {
      width: 300px;
      text-align: left;
      i {
        position: absolute;
        top: 7px;
        right: 10px;
      }
    }
  }
  .help-inline {
    width: 35px;
    text-align: right;
  }
  .form-actions {
    padding-left: 0;
    text-align: right;
  }
  .tab-content {
    overflow-x: hidden;
  }
  legend {
    font-size: 15px;
    font-style: italic;
    line-height: 15px;
    padding-top: 9px;
    margin-bottom: 9px;
  }
  legend + .control-group {
    margin-top: 0;
  }
  .field-label {
    margin-left: 0;
    position: relative;
    top: 6px;
  }
  input.asSystematics {
    width: 497px;
  }
  input.asSelect {
    width: 97px;
  }
  input.asRange {
    width: 40px;
  }
  input.asCalendar {
    width: 99px;
  }
  input.allRound {
    border-radius: 3px;
  }
  .historicalEntries {
    margin-left: 0;
  }
}

.nav-pills {
  li {
    a {
      button.close {
        position: relative;
        top: -1px;
        right: -5px;
      }
    }
  }
}

i.tree-block {
  display: inline-block;
  width: 15px;
  height: 20px;
}

.tree-selected {
  color: @buttonDefaultColor
}
