<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery-ui.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery-layout.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/handlebars-1.0.0.beta.6.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/ember.js'}"></script>

<script type="text/javascript" src="@{'/public/javascripts/app/App.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/app/Router.coffee'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/app/AppBootstrap.coffee'}"></script>

<script type="text/javascript" src="@{'/public/javascripts/app/models/StandardFilterElementModel.coffee'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/app/models/EgbilSearchJrgibModel.coffee'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/app/models/EgbilSearchJrbModel.coffee'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/app/models/EgbilSearchLotsModel.coffee'}"></script>

<script type="text/javascript" src="@{'/public/javascripts/app/controllers/ApplicationController.coffee'}"></script>
  <script type="text/javascript" src="@{'/public/javascripts/app/controllers/EgbilController.coffee'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/app/controllers/EgbilMapController.coffee'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/app/controllers/EgbilSearchController.coffee'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/app/controllers/EgbilSearchJrgibController.coffee'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/app/controllers/EgbilSearchJrbController.coffee'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/app/controllers/EgbilSearchJrlController.coffee'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/app/controllers/EgbilSearchJrgController.coffee'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/app/controllers/EgbilSearchLotsController.coffee'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/app/controllers/EgbilListController.coffee'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/app/views/ApplicationView.coffee'}"></script>

<script type="text/javascript" src="@{'/public/javascripts/app/views/ApplicationMenuView.coffee'}"></script>
  <script type="text/javascript" src="@{'/public/javascripts/app/views/EgbilView.coffee'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/app/views/EgbilMapView.coffee'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/app/views/EgbilSearchView.coffee'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/app/views/EgbilSearchJrgibView.coffee'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/app/views/EgbilSearchJrbView.coffee'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/app/views/EgbilSearchJrlView.coffee'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/app/views/EgbilSearchJrgView.coffee'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/app/views/EgbilListView.coffee'}"></script>
  <script type="text/javascript" src="@{'/public/javascripts/app/views/ChangesView.coffee'}"></script>
  <script type="text/javascript" src="@{'/public/javascripts/app/views/PrintsView.coffee'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/app/views/widgets/LabeledClearableInputView.coffee'}"></script>

<script type="text/javascript" src="@{'/public/javascripts/app/views/StateTabItemView.coffee'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/app/views/StateButtonItemView.coffee'}"></script>

#{get 'moreScripts' /}

#{handlebars.Application /}
#{handlebars.ApplicationMenu /}
  #{handlebars.Egbil /}
    #{handlebars.EgbilMap /}
    #{handlebars.EgbilSearch /}
      #{handlebars.EgbilSearchJrgib /}
      #{handlebars.EgbilSearchJrb /}
      #{handlebars.EgbilSearchJrl /}
      #{handlebars.EgbilSearchJrg /}
    #{handlebars.EgbilList /}
  #{handlebars.Changes /}
  #{handlebars.Prints /}

#{handlebars.widgets.LabeledClearableInput /}
