#{ if (play.mode.isDev()) }
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery-1.9.1.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery.inview.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery.reject.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap-2.3.1.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap-datepicker.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap-datepicker.pl.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap-combobox.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap-fileupload.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/handlebars-1.0.rc.3.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/ember-1.0.0-rc.3.js'}"></script>
#{/if}
#{ if (play.mode.isProd()) }
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery-1.9.1.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery.inview.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery.reject.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap-2.3.1.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap-datepicker.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap-datepicker.pl.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap-combobox.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap-fileupload.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/handlebars-1.0.rc.3.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/ember-1.0.0-rc.3.min.js'}"></script>
#{/if}
