<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery-ui.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/jquery-layout.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/bootstrap.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/thirdparty/ember.js'}"></script>

<script type="text/javascript" src="@{'/public/javascripts/app/AppBootstrap.coffee'}"></script>

#{get 'moreScripts' /}