<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/thirdparty/jquery-layout.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/thirdparty/bootstrap.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/thirdparty/datepicker.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/thirdparty/bootstrap-combobox.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/less/ApplicationLayout.less'}" />
#{get 'moreStyles' /}